/*
Box
Border
Background
Text
Others
*/
@import 'sprites.styl'
@import 'utils.styl'
@tailwind preflight
@tailwind utilities

html, body
    font-family 'Open Sans', sans-serif

#app
    background #fafafa